<table class="person_info">
	<% if person.sex!=nil%>
	<tr>
		<td class="mute">Sex:</td><td><%=person.sex if person.sex!=nil%></td>
	</tr>
	<% end %>
	<% if person.date_of_birth %>
	<tr>
		<td class="mute">Date of Birth:</td><td><%=person.date_of_birth%></td>
	</tr>
	<% end%>
	<% if person.date_of_death %>
	<tr>
		<td class="mute">Date of Death:</td><td><%=person.date_of_death%></td>
	</tr>
	<% end %>
	<tr>
		<td class="mute">Father:</td><td><%=link_to person.father.name, :controller=>"person", :action=>"show_person", :id=>person.father.id if person.father!=nil%></td>
	</tr>
	<tr>
		<td class="mute">Mother:</td><td><%=link_to person.father, :controller=>"person", :action=>"show_person", :id=>person.father.id if person.mother=nil%></td>
	</tr>
	<tr>
		<td class="mute">Spouse:</td>
		<td>
			<% if person.marriages %>
				<% person.marriages.each do |marriage|%>
					<% spouse = marriage.spouse_of(person.id)%>
					<%= link_to spouse.name, :controller=>"person", :action=>"show_person", :id=>spouse.id%>					
				<% end %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td class="mute">Children:</td>
		<td>
			<% if person.children %>
				<% person.children.each do |child|%>
					<%= link_to child.name, :controller=>"person", :action=>"show_person", :id=>child.id%>
				<% end %>
			<% end %>
		</td>
	</tr>			
</table>