<div id="<%=dom_id(person)%>">
	<span class="person_property">
		<% if person.photo_url %>
			<%= link_to(image_tag(person.photo_url, :class=>"thumbnail_photo", :size=>"40x40"), :controller=>"person", :action=>"show_person", :id=>person.id) %>
		<% else %>
			<%= link_to(image_tag("/images/person.png", :class=>"thumbnail_photo", :size=>"40x40"), :controller=>"person", :action=>"show_person", :id=>person.id) %>
		<% end%>
	</span>
	<span class="person_property"><%= link_to person.name, :controller=>"person", :action=>"show_person", :id=>person.id%></span>
	<span class="person_property"><%=person.sex%></span>
	<span class="person_property"><%=person.date_of_birth%></span>
	<span class="person_property"><%=link_to "Visualize", :controller=>"person", :action=>"visualize", :id=>person.id %></span>
	<span class="person_property"><%= link_to_remote_lightbox "Edit", {:url=>{:controller=>"person", :action=>"edit_person", :id=>person.id}} %></span>
	<span class="person_property"><%=link_to_remote("Remove", :url=>{:controller=>"person", :action=>"delete_person", :id=>person.id}, :confirm=>"do you really want to delete this person?", :complete=>"$('#{dom_id(person)}').remove();")%></span>
</div>