<% if person.events.length != 0 %>
<table>
	<% (person.events.sort!{ |a,b| a.from <=> b.from}).each do |event|%>
		<tr id="<%="event_"+event.id.to_s%>">
			<td width="80px">
				<% if event.isRange %>
					<%= event.from%> - <%=event.to%>
				<% else %>
					<%= event.from%>
				<% end %>
			</td>
			<td width="200px"><%= link_to event.name, :controller=>"event", :action=>"show_event", :id=>event.id %></td>
			<td width="80px"><%= event.location%></td>
		</tr>
	<% end %>
</table>
<% else %>
No events found.
<% end %>