<% javascript_tag do%>
var selected_menu_id;
var shown_elem_id;
document.observe("dom:loaded", function() {
	selected_menu_id 	= "info_menu";
	shown_elem_id 		= "info_box";
	$('events_box').hide();
	load_list();
});

function select_menu(menu, elem_id){
	//hide previously selected menu
	$(selected_menu_id).removeClassName("selected");
	$(shown_elem_id).hide();
	
	//show currently selected menu
	selected_menu_id = menu.id;
	shown_elem_id	 = elem_id;
	$(selected_menu_id).addClassName("selected");
	$(shown_elem_id).show();
	load_list();
	
}
function load_list(){
	var img = new Element('img', { src:"/images/roller.gif"});	
	if (shown_elem_id=="info_box"){
		if ($('info').empty()==false) return;
		$('info').insert(img);
		<%= remote_function(:update=>"info", :url=>{:controller=>"person", :action=>"info", :id=>@person.id})%>
	}else if (shown_elem_id=="events_box"){
		if ($('events').empty()==false) return;
		$('events').insert(img);
		<%= remote_function(:update=>"events_box", :url=>{:controller=>"person", :action=>"person_events", :id=>@person.id})%>
	}
}
<% end %>
<div class="container_box">
	<div class="person_left_col">
		<table class="person_photo_frame">		
			<tr>			
				<td>
				<% if @person.photo_url %>
					<%= link_to(image_tag(@person.photo_url, :class=>"person_photo", :width=>200), "/images/"+@person.photo_url, :rel=>"lytebox") %>
				<% else %>
					<%= link_to(image_tag("/images/person.png", :class=>"person_photo", :width=>200), "/images/person.png", :rel=>"lytebox", :title=>"Add Photo") %>
				<% end%>
				</td>
			</tr>
			<tr>
				<td> <%= link_to "Visualize", {:controller=>"person", :action=>"visualize", :id=>@person.id}, :class=>"person_action" %></td>
			</tr>
			<tr>
				<td> <%= link_to "Edit Person", {:controller=>"person", :action=>"edit_person", :id=>@person.id}, :class=>"person_action" %></td>
			</tr>
			<!--<tr>
				<td> <%= link_to "Edit Relationships", {:controller=>"person", :action=>"edit_relationships", :id=>@person.id}, :class=>"person_action" %></td>
			</tr>-->
		</table> 
	</div>
	<div class="person_right_col">
		<div colspan="2" class="person_name"><%= @person.name%></div>
		<div class="person_content_container">
			<div class="underlined">
				<div id="person_menu">
					<a id="info_menu" class="small_menu_box small_title selected" onclick="select_menu(this, 'info_box')" href="#">Info</a>
					<a id="events_menu" class=" small_menu_box small_title" onclick="select_menu(this, 'events_box')" href="#">Events</a> 	
				</div>
			</div>
			<div id="info_box">
				<div id="info"></div>
			</div>
			<div id="events_box">
				<div id="events"></div>
			</div>			
		</div>
	</div>
</div>	



