<% form_for(@person, :url => {:controller=>"person", :action =>@action, :id => @person.id }, :html=>{:multipart => true, :id=>"prof_new_form", :target=>"upload_frame"}) do |f|%>
<%= f.error_messages %>
<%= hidden_field_tag "project_id", @project_id%>
<%= hidden_field_tag "event_id", @event_id if @event_id!=nil%>
<fieldset class="person">
	<legend>New Profile</legend>
	<table>
		<tr>
			<td><%= f.label :photo_url, "Photo"%></td>
			<td><%= f.file_field :photo_url%></td>
			<td><%= @person.photo_url%><%= "attached" if @person.photo_url%></td>
		</tr>
		<tr>
			<td><%= f.label :first_name%></td>
			<td><%= f.text_field :first_name%></td>
			<td></td>
		</tr>
		<tr>
			<td><%= f.label :last_name%></td>
			<td><%= f.text_field :last_name%></td>
			<td></td>
		</tr>
		<tr>
			<td><%= f.label :sex%></td>
			<td><%= f.select :sex, [["Select Sex:",""], ["Male","Male"],["Female","Female"]]%></td>
			<td></td>
		</tr>
		<tr>
			<td><%= f.label :date_of_birth%></td>
			<td><%= f.date_select :date_of_birth, :start_year => 0, :end_year=>Time.now.year, :order=>[:month, :day, :year],  :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }%></td>
			<td>Deceased? <%= f.check_box(:deceased, { :onchange=>"flip_dob_field(this)"},true, false)%></td>
		</tr>
		
		<tr>		
			<td>
				<span id="dod_label" style=<%= @person.deceased ? "" : "display:none;"%> ><%= f.label :date_of_death %></span>
			</td>
			<td>
				<span id="dod_text" style=<%= @person.deceased ? "" : "display:none;"%> ><%= f.date_select :date_of_death, { :start_year => 0, :end_year=>Time.now.year, :order=>[:month, :day, :year],  :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }}%></span>
			</td>							
			<td></td>
		</tr>	
		<tr><td colspan="3" align="right" style="border-top:1px dotted #d3d7cf;"><%= link_to_close_lightbox "Create", {:onclick=>"$('prof_new_form').submit()"}%> <%=link_to_close_lightbox "Cancel" %></td></tr>
	</table>
</fieldset>
<% end %>