<fieldset class="event">
	<legend>Event Info</legend>
	<table width="100%">
		<tr>
			<td width="15%">Name</td>
			<td width="40%"><%= @event.name%></td>
			<td width="45%"></td>
		</tr>
		<tr>
			<td>Location</td>
			<td><%= @event.location%></td>
			<td></td>
		</tr>
		<tr>
			<td>Description</td>
			<td><%= @event.description %></td>
			<td></td>
		</tr>
		<tr>
			<td>				
				<% if @event.is_range %>
					<%= @event.start%> - <%=@event.end%>
				<% else %>
					<%= @event.start%>
				<% end %>
			</td>
			<td></td><td></td>
		</tr>
		<tr>		
			<td colspan="3">
				<fieldset>
					<legend>People</legend>						
					<table id="people" width="100%" style='padding:5px 5px 5px 5px;'>				
						<% @event.people.each do |person|%>
							<%= render :partial=>"person/person_in_event", :locals=>{:person=>person, :event=>@event}%>
						<% end %>					
					</table>
				</fieldset>
				
			</td>
		</tr>
		<tr>			
			<td colspan="3">
				<fieldset>
					<legend>Documents</legend>
					<table id="documents" width="100%" style='padding:5px 5px 5px 5px;'>
						<% @event.documents.each do |document|%>
								<%= render :partial=>"document/document_in_event", :locals=>{:document=>document, :event=>@event}%>
						<% end %>	
				</table>
				</fieldset>
			</td>	
		</tr>
		<tr><td colspan="3" align="right" style="border-top:1px dotted #d3d7cf;"><%=link_to "Back", :back %></td></tr>
	</table>
</fieldset>
<iframe id='upload_frame' name='upload_frame' style="display:none;"></iframe>