<% form_for @project, :url=>{:action=>"update_project", :id=>@project.id}, :html=>{:id=>"proj_update_form"} do |f|%>
<fieldset style="margin:10px 10px 10px 10px;">
	<legend>Edit Project</legend>
	<table>
		<tr>
			<td><%= f.label :name%></td>
			<td><%= f.text_field :name%></td>
		</tr>
		<tr>
			<td><%= f.label :description%></td>
			<td><%= f.text_area :description, :cols=>50, :rows=>5 %></td>
		</tr>
		<tr>
			<td colspan="2" align="right" style="border-top:1px dotted #d3d7cf;"><%= button_to_close_lightbox "Update", {:onclick=>"$('proj_update_form').request()", :class=>"ui_small_button"} %> <%=button_to_close_lightbox "Cancel", {:class=>"ui_small_button"}%></td>
		</tr>
		
	</table>
</fieldset>
<% end %>