<% form_for(@profile, :url => {:controller=>"profile", :action =>@action, :id => @profile.id }, :html=>{:multipart => true, :id=>"prof_update_form", :target=>(@html_format? nil : "upload_frame")}) do |f|%>
<%= f.error_messages %>
<%= hidden_field_tag 'event_id', @event_id if @event_id!=nil%>
<%= hidden_field_tag "html_format", @html_format if @html_format!=nil%>
<fieldset class="profile">
	<legend>Edit Profile</legend>
	<table>
		<tr>
			<td><%= f.label :photo_url, "Photo"%></td>
			<td><%= f.file_field :photo_url%></td>
			<td><%= @profile.photo_url%><%= "attached" if @profile.photo_url%></td>
		</tr>
		<tr>
			<td><%= f.label :first_name%></td>
			<td><%= f.text_field :first_name%></td>
			<td></td>
		</tr>
		<tr>
			<td><%= f.label :last_name%></td>
			<td><%= f.text_field :last_name%></td>
			<td></td>
		</tr>
		<tr>
			<td><%= f.label :sex%></td>
			<td><%= f.select :sex, "<option value ='-1'>Select Sex:</option><option value='Female'>Female</option><option value='Male'>Male</option>" %></td>
			<td></td>
		</tr>
		<tr>
			<td><%= f.label :date_of_birth%></td>
			<td><%= f.date_select :date_of_birth, :start_year => 0, :end_year=>Time.now.year, :order=>[:month, :day, :year],  :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }%></td>
			<td>Deceased? <%= f.check_box(:deceased, { :onchange=>"flip_dob_field(this)"},true, false)%></td>
		</tr>
		
		<tr>		
			<td>
				<span id="dod_label" style=<%= @profile.deceased ? "" : "display:none;"%> ><%= f.label :date_of_death %></span>
			</td>
			<td>
				<span id="dod_text" style=<%= @profile.deceased ? "" : "display:none;"%> ><%= f.date_select :date_of_death, { :start_year => 0, :end_year=>Time.now.year, :order=>[:month, :day, :year],  :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }}%></span>
			</td>							
			<td></td>
		</tr>	
		<tr><td colspan="3" align="right" style="border-top:1px dotted #d3d7cf;">
		<% if @html_format!=nil%>
			<%= link_to "Update", "javascript:$('prof_update_form').submit()"%> <%=link_to "Cancel", :back %>
		<% else %>
			<%= link_to_close_lightbox "Update",  {:onclick=>"$('prof_update_form').submit();"} %> <%=link_to_close_lightbox "Cancel" %>
		<% end %>
		</td></tr>
	</table>
</fieldset>
<% end %>