<fieldset class="profile">
	<legend>Profile</legend>
	<table class="profile_photo_frame">
		<tr>
			<td>
			<% if @profile.photo_url %>
				<%= link_to(image_tag(@profile.photo_url, :class=>"profile_photo", :size=>"200x200"), "/images/"+@profile.photo_url, :rel=>"lytebox") %>
			<% else %>
				<%= link_to(image_tag("/images/profile.png", :class=>"profile_photo", :size=>"200x200"), "/images/profile.png", :rel=>"lytebox", :title=>"Add Photo") %>
			<% end%>
			</td>
		</tr>
		<tr>
			<td> <%= link_to "Edit Profile", :controller=>"profile", :action=>"edit_profile", :id=>@profile.id %></td>
		</tr>
		<tr>
			<td> <%= link_to "Edit Relationships", :controller=>"profile", :action=>"edit_relationships", :id=>@profile.id %></td>
		</tr>
	</table> 
	<table class="profile_info">
		<% if @profile.name!=nil%>
		<tr>
			<td>Name:</td><td><%=@profile.name%></td>
		</tr>		
		<% end %>
		<% if @profile.sex!=nil%>
		<tr>
			<td>Sex:</td><td><%=@profile.sex if @profile.sex!=nil%></td>
		</tr>
		<% end %>
		<% if @profile.date_of_birth %>
		<tr>
			<td>Date of Birth:</td><td><%=@profile.date_of_birth%></td>
		</tr>
		<% end%>
		<% if @profile.date_of_death %>
		<tr>
			<td>Date of Death:</td><td><%=@profile.date_of_death%></td>
		</tr>
		<% end %>
	</table>
</fieldset>
<fieldset class="events">
	<legend>Events</legend>
	<table>
		<tr>
			<td width="20%">Date</td>
			<td width="40%">Name</td>
			<td width="20%">Location</td>
			<td width="20%"></td>
		</tr>
		<% @profile.events.each do |event|%>
			<tr id="<%="event_"+event.id.to_s%>">
				<td>
					<% if event.isRange %>
						<%= event.from%> - <%=event.to%>
					<% else %>
						<%= event.from%>
					<% end %>
				</td>
				<td><%= link_to event.name, :controller=>"Profile", :action=>"show_event", :id=>event.id %></td>
				<td><%= event.location%></td>
			</tr>
		<% end %>
	</table>
</fieldset>