<fieldset style="margin:10px 10px 10px 10px;">
	<legend>Document Info</legend>
	<table>
		<tr>
			<td>Title</td>
			<td><%= @document.title%></td>
		</tr>
		<tr>
			<td>Type</td>
			<td><%= @document.type.name%></td>
		</tr>
		<tr>
			<td>File</td>
			<td><% if @document.type.name == "Photo"%><%=link_to(image_tag(@document.file_url, :size=>"100x100"), @document.file_url, :rel=>"lytebox", :title=>"Document Image")%><% end %></td>
		</tr>
		<tr>
			<td>Description</td>
			<td><%= @document.description%></td>
		</tr>
		<tr>
			<td colspan="2" align="right" style="border-top:1px dotted #d3d7cf;"><%=link_to_close_lightbox "Cancel"%></td>
		</tr>
		
	</table>
</fieldset>